.git
.vscode
*.md
docker-compose.yml
app.json
node_modules/
npm-debug
.github
coverage
dist
*.env.*.local
*.env.local
.npmrc
*.dev
*.local
notizen.txt
import-sorter.json
commitlint.*
.prettierrc
.eslintrc
