PORT=3001

TYPEORM_SYNCHRONIZE=true
TYPEORM_MIGRATIONS_RUN=false

DB_URL=postgres://postgres:postgres@127.0.0.1:5432/edible-garden
DB_SCHEMA=public

BFEG_SWAGGER_ENABLED=true

# Comma separated list of locales or '*' for including all Locales or only the language code (e.g. 'en') to include all Locales from that language (e.g. en_US, en_GB)
BFEG_LOCALE_IMPORTED=*
BFEG_LOCALE_EXPORTED=de_DE,en

BFEG_CORS_ORIGINS=*

BFEG_AUTH_HASHING_PEPPER=somePepperForHashingPasswords

BFEG_JWT_SECRET=someTokenSecret
BFEG_JWT_EXPIRATION_TIME=15m

BFEG_JWT_REFRESH_SECRET=someRefreshTokenSecret
BFEG_JWT_REFRESH_EXPIRATION_TIME=1d

BFEG_JWT_ACCOUNT_ACTION_SECRET=someSensitiveAccountActionTokenSecret

BFEG_COOKIE_SIGNATURE_SECRET=someCookieSignatureSecret

BFEG_SSL_ENABLED=true
# ssl paths relative to dist/main.js
BFEG_SSL_KEY_PATH="../../../dev/certs/localhost-key.pem"
BFEG_SSL_CERT_PATH="../../../dev/certs/localhost-fullchain.pem"

BFEG_REDIS_URL=redis://localhost:6379

// this key is used for AES encryption and needs to be exactly 128-bit, 192-bit or 256-bit long
BFEG_PERSONAL_DATA_ENCRYPTION_KEY=003ca9579092c210de6c20fe4667e5ab

# Prevent Dynos from entering idle state
BFEG_CARDIAC_MASSAGE_DYNO_ENABLED=false
BFEG_CARDIAC_MASSAGE_DYNO_URLS=dyno-foo.com,dyno-bar.com
