Servus {{ recipientName }},<br/>
<p>du hast soeben versucht, dich bei Krautland mit dieser E-Mail Adresse und dem
    Nutzernamen <em>{{usernameForSecondRegistration}}</em> zu registrieren.
    Wir haben festgestellt, dass du bereits mit dieser Adresse bei uns unter dem
    Nutzernamen <em>{{ recipientName }}</em>
    registriert bist. Dein bestehendes Benutzerkonto ist derzeit
    zur Löschung vorgemerkt. Bis der Löschvorgang abgeschlossen ist,
    kannst du dich leider nicht erneut mit derselben E-Mail Adresse registrieren.</p>
<p>Der Löschvorgang eines Benutzerkontos wird i.d.R. erst nach ein paar Tagen ausgeführt,
    um dir die Möglichkeit zu geben, eine versehentliche Löschung zu verhindern.</p>
<p>Pfiat di,<br/>dein Krautland Team</p>
