Servus {{ recipientName }},<br/>
<p>um deine Registrierung bei Krautland abzuschließen, aktiviere bitte dein Benutzerkonto durch Klick auf den nachfolgenden Link:</p>
<a href="{{ accountActivationUrl }}" target="_blank">Benutzerkonto aktivieren</a>
<p>Viel Spaß im Krautland!</p>
