<h1>Servus {{ recipientName }},</h1>
<p>um deine Registrierung bei Krautland abzuschließen, aktiviere bitte dein Benutzerkonto durch Klick auf den nachfolgenden Link:</p>
<a href="{{ activationUrl }}" target="_blank">Benutzerkonto aktivieren</a>
